
h1{
	margin-left: 35%;
	color: white;
}


#cuerpo{
	margin-top: 6%;
}

#cuerpo2{
	margin-top: 10%;
	margin-left: 5%;
}
#versus{

	font-size: 6em;
	font-weight: 2em;
	margin-right: 10%;
	margin-left: 30%;
	margin-top: 20%;
	margin-bottom: 10%;
}


#sol{
	margin-bottom: 2%;
}

#img1{
	width: 80%;
}

#img3{
	width: 90%;
}

#ring{
	width: 500%;
	height: 500%;
}